<body>
    <div class="container-fluid">
       <div class="row main-header align-content-start"> 
     
<nav class="navbar navbar-expand-lg navbar-light ">
  
    <button class="navbar-toggler " data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button class="btn">
                <a class="nav-link" href="#"><b>Home </b><span class="sr-only">(current)</span></a></button>
            </li>
            <li class="nav-item">
                <button class="btn">
                <a class="nav-link " href="#" tabindex="-1" aria-disabled="true"><b>info </b></a></button>
            </li>
            <li class="nav-item">
                <button class="btn">
                <a class="nav-link " href="#" tabindex="-1" aria-disabled="true"><b>contact us </b></a></button>
            </li>
            
        </ul>
        
    </div>
   
</nav>

</div>



</div>
<hr class="hr">
<div class="row ">
     <div class="col-sm-5 col-md-5 col-lg-3 col-xs-5  profile img-fluid shadow-sm ">
      
       <img class="img-prof img-fluid " src="img/pexels-photo-1115697.jpeg" alt="">
<a href="">
<h5 class="text-dark" >creat your profile</h5></a>
     </div>
     <div class="col-sm-7 col-md-7 col-lg-9 col-xs-7  ">

     </div>
    
    <div class="col-sm-5 col-md-5 col-lg-3 col-xs-5 shadow-sm ">
      <form class="m-4 login shadow-sm">
     <div class = "form-group">
     <label for="exampleInputEmail1">Email address</label>
     <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
     <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
     </div>
     <div class="form-group">
     <label for="exampleInputPassword1">Password</label>
     <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
     </div>
     <div class="form-check">
     <input type="checkbox" class="form-check-input" id="exampleCheck1">
     <label class="form-check-label ml-4" for="exampleCheck1">Check me out</label>
     </div>
     <button type="submit" class="btn btn-light">Sign In</button>
     </form>
     <a href="#">
 <p class="text-dark ml-3"> don't have an acount? creat your profile</p></a>
      </div>
      <div class="col-sm-8 "></div>
      <div class="col-sm-5 col-md-5 col-lg-3 col-xs-5  shadow-sm">
 <a href="">
      <button class="button" type="submit">read about team work</button></a>
    <a href=""><button class="button" type="submit">find your best team</button></a>
    <div class="dropdown">
          <button class="btn  dropdown-toggle button " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            How do you feel about working on a team?
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">very well</a>
              <a class="dropdown-item" href="#">good</a>
              
              <a class="dropdown-item" href="#">very bad</a>
          </div>
      </div>
   
       <div class="col-sm-7 col-md-7 col-lg-9 col-xs-7  ">
 
      </div>
     </div>
</div>
<hr class="hr">
<footer class=" footer">
    <div class="row ">
    <div class="col-lg-7 col-md-8 col-sm-8 col-xs-10"><h4 class="font text-right">Work pace improves with teamwork</h4></div>
   
</div>
<hr class="hr">
<div class="row mt-5 ">
   <div class="col-lg-8 col-md-9 col-sm-10 col-xs-12  text-right pr-5  ">
       <a class="foot-link" href="">about us</a>
       <a class="foot-link" href="">privacy</a>
       <a class="foot-link" href="">home</a>
       <a class="foot-link" href="">news</a>
       <a class="foot-link" href="">get help</a>
   </div>
</div>

<div class="row  mt-5">
   <div class="col-lg-7 col-md-7 col-sm-7 col-xs-8  text-right" > 
       <a href="">
<img class="logo-img" src="img/logo1.jfif" alt="">       
<img class="logo-img" src="img/logo2.png" alt="">  
<img class="logo-img" src="img/logo3.png" alt="">  </a>
</div>
</div>
</footer>
</body>

<router-outlet></router-outlet>